<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Paddlr - Admin</title>
	
</head>

<body>
	<h1>Paddlr</h1>
	<hr noshade>
	<ul>
		<li>Senior doubles: <%= @senior_singles.size %></li>
		<li>Endeavour: <%= @endeavour.size %></li>
		<li>Junior doubles: <%= @junior_doubles.size %></li>
		<li>Vet/Junior doubles: <%= @vet_junior_doubles.size %></li>		
		<li>Senior singles: <%= @senior_singles.size %></li>
		<li><b>TOTAL: <%= @total.size %></b></li>
	</ul>
	<hr noshade>
	<ul>
		<li><%= link_to "Refresh listings!", { :action => :refresh }, :confirm => "Are you sure, this will remove all current data?" %></li>
		<li><%= link_to "Clear all listings!", { :action => :clear }, :confirm => "Are you sure, this will remove all current data?" %></li>
		
	</ul>
	<br />
	<%= link_to "&larr; Home", root_url %>

</body>
</html>
