<div id='header'>
	<div class='container'>
		<div class='title'>
			<%= link_to 'to westminster!', root_url %>
		</div>
		<div class='links'>
			<%= link_to 'home', root_url %> &middot; browse by <%= link_to 'class' %>, <%= link_to 'year' %> or <%= link_to 'team' %>				
		</div>
		<div class='search'>
			<input type='search' size='16' placeholder='Search'>
		</div>
	</div>
</div>