<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= stylesheet_link_tag "screen"%>
	<%= javascript_include_tag "application" %>
	<title>towestminster.com - the Devizes to Westminster Canoe Race 2009</title>
</head>

<body>
	<% form_tag :controller => "search" do |f|%>
	<div class='container' id='header'>
		<h1>to westminster!</h1>
		<h2>Race times, positions and stats for the<br /> Devizes to Westminster Canoe Race, 2009.</h2>
	</div>
	<div class='container' id='search'>
		<h3>search by boat, paddler or team</h3>
		<input type='text' size="32" name="q"> <%= link_to 'Go!', "javascript:search();", :class => "button" %>
		<p class='label'>for example: <%= link_to '52', search_url("52") %> or <%= link_to "Kimbolton School", search_url("Kimbolton School") %> </p>
	</div>
	<div class='container' id='browse'>
		<div class='content'>
			<h3>browse</h3>
			<p>
				by <%= link_to 'class', :controller => :browse, :action => :classes %> &middot; <%= link_to 'team', :controller => :browse, :action => :team %>
			</p>
		</div>
		
		<div class='footnote'>
			a canoe/data mash up by <%= link_to 'mza', "http://twitter.com/mza" %><br />
			photography &copy; <%= link_to 'avtost', "http://www.flickr.com/photos/avtost/" %>, via <%= link_to 'flickr', "http://www.flickr.com/photos/avtost/449754580/" %>
		</div>
	</div>
	<% end %>	
	<ul id='border'>
		<li id='top'></li>
		<li id='left'></li>
		<li id='right'></li>
		<li id='bottom'></li>	
	</ul>
	<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
	<script type="text/javascript">
	re_("k9a0d-v782fwxgut");
	</script>
</body>
</html>
</html>
