<div id='boat'>
	<div class='container'>
		<div class='number'>
			<h1>2009 / <b><%= @boat.number %></b></h1>
		</div>
		<div class='names'>
			<h2><%= @boat.paddler_names "&amp;" %></h2>
			<%= @boat.classification %>
		</div>
	</div>
</div>

<div id='map' class='container'>	
	<%= GMap.header %>  
	
	
	<%= @map.to_html %>  
	<%= @map.div(:width => 700, :height => 300) %>
</div>

<div id='club' class='container'>
	Times for <%= @boat.paddler_names_with_clubs %>.
</div>

<div id='details' class='container'>
	<div id='timings'>
		<% previous_location_name = "" %>
		<% day_count = 2 %>
		
		<table width='100%' cellpadding="0" cellspacing="0">
		<tr>
			<th></th>
			<th>Location</th>
			<th>Time</th>
			<th>Distance</th>
		</tr>
		<% @boat.timings.each_with_index do |timing, index| %>
		<% class_name = "" %>
		<tr>
			<% if index == 0 %>
				<td class='info'>Start</td>
			<% elsif index == @boat.timings.size - 1 %>
				<td class='info'>Finish</td>
			<% else %>
				<% if timing.location.name == previous_location_name %>
					<% class_name = "divider"%>							
					<td class='info <%= class_name %>'>Day <%= day_count %></td>
					<% day_count += 1%>
				<% else %>	
					<td>&nbsp;</td>
				<% end %>
			<% end %>
			<td class='<%= class_name %>'><%= timing.location.name %></td>
			<td class='<%= class_name %>'><%= timing.time %></td>
			<td class='<%= class_name %>'><%= timing.location.distance %></td>
		</tr>
		<% previous_location_name = timing.location.name %>
		<% end %>
		</table>
	</div>
	
	<div id='positions'>
		
		<% if @boat.retired? %>
		<div class='result'>
			<div class='position'>--</div>
			<div class='time'>unplaced</div>
		</div>
		<% else %>
		  <% if @boat.result %>
			<div class='result'>
				<div class='position'><%= @boat.result.position.to_i.ordinalize%></div>
				<div class='time'><%= @boat.result.time %></div>
			</div>

			<div class='result'>
				<div class='value'><%= @boat.average_speed %> mph</div>
				<div class='key'>average speed</div>
			</div>

			<div class='chart'>
				<%= image_tag("http://chart.apis.google.com/chart?chs=200x150&chd=t:
				0,11.5,29.0,34.5,47,54,62,74,82,84,97,107.5,125|
				#{@boat.distance_times}
				&chxt=x,y
				&chco=AC0000
				&chds=0,125,0,#{@boat.total_time_in_seconds}
				&chxl=0:|0|20|40|60|80|100|120|125|
				1:|0|#{@boat.result.time}
				&cht=lxy")%>
			</div>
			<div class='legend'>distance / time</div>

			<% else %>
  			<div class='result'>
  				<div class='position'>---</div>
  				<div class='time'>in progress</div>
  			</div>
      <% end %>			
		
		<% end %>
	</div>
	
</div>
